body {
    width: 95%;
    text-align: center;
    /* color: rgb(250, 156, 6); */
    font:bold bol;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(188, 236, 235);

}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;

}

main div {
    display: flex;
    flex-wrap: wrap;
}

/* .bg {
    background-image: url(./assets/forest-sun-rays.gif);
    /* width 200px;
    height 200px; */
    /* background-repeat: no-repeat; 
    background-size: cover;
} */

/* cart/checkout */
.cart-checkout {
    width: 25%;
    padding: 10px;
    margin: auto;
    margin-top: 0px;
}

.cart {
    /* border: 2px solid rgb(30, 145, 143); */
    background-color: white;
    width: 310px;
    height: auto;
    display: block;
    font-size: 16px;
    border-radius: 10%;
    padding-top: 10px;
}

.remove-button {
    margin-left: 10px;
    margin-top: 3%;
}

.checkout {
    color: rgb(250, 156, 6);
    /* border: 2px solid rgb(30, 145, 143); */
    width: 310px;
    height: auto;
    margin-top: 15px;
    background-color: white;
    border-radius: 10%;
    padding-top: 10px;

}

.cart h4 {
    color: rgb(250, 156, 6);
    font-size: 30px;
    width: 100%;
    margin-bottom: 14px;
    text-align: center;
    font-weight: bold;
}

.checkout h4 {
    width: 100%;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 14px;

}

.checkout label {
    color: black;
    width: 100%;
    display:inline-block;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 4px;
    border-color: rgb(30, 145, 143);

}
.checkout form {
    color: black;
    /* width: 100%; */
    height: 420px;
    font-size: 16px;
    background-color: white;
    border-color: rgb(30, 145, 143);

}

.cart p {
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}

/* birdCards */

.birds {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 10px;
    margin-right: 5px;
}

.card {
    /* card-shadow */
    /* box-shadow: 0 4px 8px 0 grey; */
    box-shadow: 0 4px 8px 0 rgb(30, 145, 143);
    transition: 0.4s;
    height: 275px;
    width: 220px;
    /* background-color: rgb(188, 236, 235); */
    background-color: white;
    padding: 10px;
    margin: 0px 35px 20px;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
}

.card img{
    width: 130px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;

    
}
.card p {
    width: 100%;
    text-align: center;
    padding-bottom: -10%;
    margin-bottom: 0px;
    font-size: 14px;
}


.card .name{
    font-size: 18px;
    color: rgb(250, 156, 6);
    font-weight: bolder;
}

.card button{
    margin: auto;
    width: 80%;
    background-color: rgb(188, 236, 235);
    border-color: rgb(30, 145, 143);
    /* color:  white; */
}
